@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@there{
  --font-display:"Urbanist", sans-serif;
  --breakPoint-3xl: 1920px;
  --break-primary: #ff9324;

}
@layer base{
  html{
    font-family:var(--font-display);
  }
  body{
    background-color: #fcfbfc;

  }
}